## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' 'STATUS', 'SPECIAL_CONSIDERATIONS'.
application_df = application_df.drop(columns = ['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
classifications_to_replace = list(type_counts [type_counts <500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
display(dummies_df.head())
display(dummies_df.tail())

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
34294,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [8]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1,stratify=y,test_size=.2)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
units_1 = 80
units_2 = 80
input_features = len(X_train_scaled[0])
nn_model1 = tf.keras.models.Sequential()

# First hidden layer
nn_model1.add(tf.keras.layers.Dense(units=units_1, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn_model1.add(tf.keras.layers.Dense(units=units_2, activation = "relu"))

# Output layer
nn_model1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                9120

 dense_1 (Dense)             (None, 80)                6480

 dense_2 (Dense)             (None, 1)                 81

=================================================================
Total params: 15,681
Trainable params: 15,681
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn_model1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
fit_model = nn_model1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 4s 2ms/step - loss: 0.5724 - accuracy: 0.7195
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7271
Epoch 3/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5511 - accuracy: 0.7294
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7299
Epoch 5/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7322
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7313
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7315
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7324
Epoch 9/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5437 - accuracy: 0.7318
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7326
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7332
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7342
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7341
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7356
Epoch 15/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7353
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7344
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7351
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7347
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7371
Epoch 21/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7356
Epoch 22/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7350
Epoch 23/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7380
Epoch 24/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7368
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7371
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7372
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7375
Epoch 28/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7375
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7373
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7381
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7382
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7376
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7382
Epoch 34/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7386
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7384
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7379
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7373
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7376
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7383
Epoch 40/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7381
Epoch 41/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7389
Epoch 42/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5336 - accuracy: 0.7390
Epoch 43/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7393
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7388
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7381
Epoch 46/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7390
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7397
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7394
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7393
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7399
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7396
Epoch 52/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7401
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7386
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7401
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7392
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7402
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7403
Epoch 58/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5317 - accuracy: 0.7395
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7392
Epoch 60/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7399
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7399
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7401
Epoch 63/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7400
Epoch 64/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7390
Epoch 65/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5312 - accuracy: 0.7392
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7401
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7400
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7395
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7398
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7397
Epoch 71/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5307 - accuracy: 0.7396
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7398
Epoch 73/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7395
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7402
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7397
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7393
Epoch 77/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7399
Epoch 78/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7400
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7397
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7408
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7406
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7402
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7404
Epoch 84/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5303 - accuracy: 0.7389
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7406
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7399
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7407
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7397
Epoch 89/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7401
Epoch 90/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5295 - accuracy: 0.7408
Epoch 91/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7413
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7408
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7408
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7403
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7400
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7406
Epoch 97/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5289 - accuracy: 0.7398
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7412
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7401
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7411

In [15]:
# Evaluate the model using the test data
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5626 - accuracy: 0.7388 - 869ms/epoch - 4ms/step
Loss: 0.562642514705658, Accuracy: 0.7387754917144775

OPtimisation 2

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

units_1 = 80
units_2 = 30
units_3 = 20
input_features = len(X_train_scaled[0])
nn_model2 = tf.keras.models.Sequential()

# First hidden layer
nn_model2.add(tf.keras.layers.Dense(units=units_1, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn_model2.add(tf.keras.layers.Dense(units=units_2, activation = "relu"))

# Third hidden layer
nn_model2.add(tf.keras.layers.Dense(units=units_3, activation = "relu"))

# Output layer
nn_model2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                9120

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 20)                620

 dense_6 (Dense)             (None, 1)                 21

=================================================================
Total params: 12,191
Trainable params: 12,191
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn_model2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn_model2.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
858/858 [==============================] - 3s 2ms/step - loss: 0.5717 - accuracy: 0.7191
Epoch 2/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7294
Epoch 3/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7297
Epoch 4/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7299
Epoch 5/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5469 - accuracy: 0.7313
Epoch 6/75
858/858 [==============================] - 3s 4ms/step - loss: 0.5451 - accuracy: 0.7321
Epoch 7/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7312
Epoch 8/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7330
Epoch 9/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7332
Epoch 10/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7329
Epoch 11/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7346
Epoch 12/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7339
Epoch 13/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7350
Epoch 14/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 15/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7354
Epoch 16/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7353
Epoch 17/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7355
Epoch 18/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7356
Epoch 19/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7361
Epoch 20/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7361
Epoch 21/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7360
Epoch 22/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7360
Epoch 23/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7370
Epoch 24/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5375 - accuracy: 0.7362
Epoch 25/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7363
Epoch 26/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7360
Epoch 27/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7376
Epoch 28/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7373
Epoch 29/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7376
Epoch 30/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7371
Epoch 31/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7376
Epoch 32/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7384
Epoch 33/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7389
Epoch 34/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7371
Epoch 35/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7377
Epoch 36/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7373
Epoch 37/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7377
Epoch 38/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7382
Epoch 39/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7374
Epoch 40/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7389
Epoch 41/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 42/75
858/858 [==============================] - 4s 4ms/step - loss: 0.5337 - accuracy: 0.7382
Epoch 43/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7378
Epoch 44/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7384
Epoch 45/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7386
Epoch 46/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7389
Epoch 47/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7388
Epoch 48/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5330 - accuracy: 0.7380
Epoch 49/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7386
Epoch 50/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7397
Epoch 51/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7392
Epoch 52/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7389
Epoch 53/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7394
Epoch 54/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5317 - accuracy: 0.7393
Epoch 55/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 56/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7392
Epoch 57/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7397
Epoch 58/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7398
Epoch 59/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5319 - accuracy: 0.7391
Epoch 60/75
858/858 [==============================] - 3s 4ms/step - loss: 0.5323 - accuracy: 0.7392
Epoch 61/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7396
Epoch 62/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 63/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7393
Epoch 64/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7400
Epoch 65/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5311 - accuracy: 0.7397
Epoch 66/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7398
Epoch 67/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7397
Epoch 68/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7393
Epoch 69/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7405
Epoch 70/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7393
Epoch 71/75
858/858 [==============================] - 3s 3ms/step - loss: 0.5309 - accuracy: 0.7396
Epoch 72/75
858/858 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7393
Epoch 73/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7389
Epoch 74/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7396
Epoch 75/75
858/858 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7396

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5615 - accuracy: 0.7394 - 1s/epoch - 5ms/step
Loss: 0.5614603161811829, Accuracy: 0.7393586039543152

Optimisation 3

In [25]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model3 = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model3.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model3.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))

    nn_model3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model3.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model3

In [26]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [27]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 01m 24s]
val_accuracy: 0.7374635338783264

Best val_accuracy So Far: 0.7409620881080627
Total elapsed time: 00h 27m 32s

In [28]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(2)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5498 - accuracy: 0.7410 - 716ms/epoch - 3ms/step
Loss: 0.5497856736183167, Accuracy: 0.7409620881080627
215/215 - 1s - loss: 0.5500 - accuracy: 0.7389 - 636ms/epoch - 3ms/step
Loss: 0.5499642491340637, Accuracy: 0.7389212846755981

In [29]:
# Export our model to HDF5 file
nn_model3.save('AlphabetSoupCharity_Optimization.h5')